#notification{
    position:absolute;
    bottom:75px;
    left:600px;
    height: 40px;
    width:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color:white;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(255,255,255,0.3);
    z-index:2;
}
// mdndocs